$traiangelWidth: 60px;
.navSection{
    width: 70%;
    max-width: 800px;
    height: 3rem;
    background-color: white;
    position:fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(38, 36, 37);
    z-index: 9999;
    clip-path: polygon(10% 100%, 90% 100%, 100% 0, 0 0);

    .container{
        width: calc(100% - 2*$traiangelWidth);
        padding: 0 2rem;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left,.right{
            text-decoration: none;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            gap: 4rem;

            div{
                font-size: 1.3rem;
                font-weight: bold;
                font-family: 'Poppins';
            }
        }

        .center{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.4rem;

            .logo{
                width: 5rem;
                height: 5rem;
    
            }
        }

        
    }
}